form {
  padding: 0.5rem;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 0.5rem;
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none; /* Прибирає стандартний індикатор календаря */
}

input[type="date"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder {
  color: transparent; /* Прибирає плейсхолдер */
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper,
input[type="time"]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: flex-start; /* Вирівнювання тексту */
}
